.Navbar {
  border: 1px solid black;
  width: 80vw;
  margin: auto;
  height: 5rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.Navbar-items {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.Navbar-item {
  margin: 0 1rem 0 1rem;
}
